* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    font-size:.8em;
    word-wrap: break-word;
}
#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #2d3e50;
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    font-size: 1.3em;
}
#header ul, #header li, #header a, #header span {
    display: inline-block;
}
#header ul, #header li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header span:first-child a {
    color: white;
    font-weight: 400;
    font-size: 120%;
    text-align: left;
    margin-right: .5em;
}
#header span + span {
    margin-top: .1em;
    font-style: italic;
}
#header span + span:before {
    content: "(";
}
#header span + span:after {
    content: ")";
}
#header span {
    float: left;
}
#header ul {
    float: right;
}
#header li a {
    color: #6FBEF3;
}
#header li a:hover, #header li a:focus {
    color: #fff;
}
#header li {
    margin-right: .5em;
}
#header li:last-child {
    margin-right: 0;
}
#searchForm {
    top: 14px;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: lightgrey;
    
}
#linklist, #footer {
    top: 16px;
    position: relative;
    
}
#searchForm:after {
    content: "▾";
    color: white;
    font-size: .6em;
    text-align: center;
    display: block;
    /* With position fixed, hover animation not work */
    /*position: fixed;*/
    z-index: 4;
    width: 100%;
    background-color: grey;
    pointer-events: none;
}
#searchForm:hover {
    position: relative;
    top:42px;
    z-index: 4;
}
#searchForm:hover:after {
    content: "▴";
}
#searchForm form {
    display: inline-block;
    width: 49%;
}
#searchForm input[type=text] {
    width: 75%;
}
.paging div, .paging span, .paging a, .paging form, .paging input {
    display: inline-block;
}
#linklist ul, #linklist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.actions, .actions form, .actions input {
    display: inline-block;
}
#footer a, #footer span {
    display: inline-block;
}