* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    font-size:.8em;
    word-wrap: break-word;
}
#header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #2d3e50;
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    font-size: 1.3em;
}
#header ul, #header li, #header a, #header span {
    display: inline-block;
}
#header ul, #header li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#header span:first-child a {
    color: white;
    font-weight: 400;
    font-size: 120%;
    text-align: left;
    margin-right: .5em;
}
#header span + span {
    margin-top: .1em;
    font-style: italic;
}
#header span + span:before {
    content: "(";
}
#header span + span:after {
    content: ")";
}
#header span {
    float: left;
}
#header ul {
    float: right;
}
#header li a {
    color: #6FBEF3;
}
#header li a:hover, #header li a:focus {
    color: #fff;
}
#header li {
    margin-right: .5em;
}
#header li:last-child {
    margin-right: 0;
}
#searchForm {
    top: 14px;
    min-height: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;
    background-color: lightgrey;
    z-index: 4;
    
}
#linklist, #footer {
    top: 14px;
    position: relative;
    
}
#searchForm:after {
    float: left;
    content: "▾";
    color: white;
    font-size: .6em;
    text-align: center;
    display: block;
    /* With position fixed, hover animation not work */
    /*position: fixed;*/
    top: 5px;
    z-index: 4;
    width: 100%;
    background-color: grey;
    pointer-events: none;
}
#searchForm:hover {
    position: relative;
    top:40px;
    z-index: 4;
}
#searchForm:hover:after {
    content: "▴";
}
#searchForm span, #searchForm form {
    display: inline-block;
}
#toolBarRight {
    float: right;
}
.onoffswitch {
position: relative; width: 84px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
float: left;
}
.onoffswitch-checkbox {
display: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 1px solid #999999; border-radius: 2px;
}
.onoffswitch-inner {
display: block; width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "Tags";
padding-left: 20px;
background-color: #EDEDED; color: #575757;
}
.onoffswitch-inner:after {
content: "Content";
padding-right: 7px;
background-color: #FFFFFF; color: #575757;
text-align: right;
}
.onoffswitch-switch {
display: block; width: 17px; margin: 3px;
background: #FFFFFF;
border: 1px solid #999999; border-radius: 2px;
position: absolute; top: 0; bottom: 0; right: 60px;
-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px;
}
/*.paging div, .paging span, .paging a, .paging form, .paging input {
    display: inline-block;
}*/
.paging {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: .5em;
    background-color: lightgrey;
}
#linklist ul, #linklist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.actions, .actions form, .actions input {
    display: inline-block;
}
#footer a, #footer span {
    display: inline-block;
    text-align: center;
}